* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#calcContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 60vh;
}

.displayBox {
    width: 400px; /* this makes the div 4x larger than the others */
    display: flex;
    flex: 1 0 1;
    justify-content:space-around;
    border: solid;
    background-color: lightgray;
    margin: 2px;
    padding: 0;
}

.numbers { /* how can I reference each number individually to change their style/size? */
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    padding: 0;
    margin: 2px;
    height: 100px;
    width: 100px;

}

.numbers1 {
    background-color: lightblue;
}