* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#calcContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 60vh;
}

.numbers { /* how can I reference each number individually to change their style/size? */
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;

}

.numbers0 {
    flex-grow: 3;
    flex-basis: 0;
}

.numbers1, .numbers2, .numbers3, .numbers4, .numbers5 {
    flex-grow: 0.25;
    flex-shrink: 0;
    flex-basis: 1;
}

.numbers6, .numbers7, .numbers8, .numbers9, .numbers10 {
    flex-grow: 0.25;
    flex-basis: 0;
}

.numbers11, .numbers12, .numbers13 {
    flex-grow: 0.25;
    flex-basis: 0;
}

.numbers14, .numbers15 {
    flex-grow: 2;
}
